{% extends 'template.html' %}
{% block body %}
<div class="content">
    <h1> Привет </h1>
    <p>Добро пожаловать на сайт автора комикса! Я рисую комиксы уже много лет на графическом планшете и создаю уникальные миры с их живописными персонажами. Мои комиксы всегда популярны среди людей всех возрастов, и теперь вы можете приобрести их в книжном переплете на этом сайте.

У меня имеются комиксы во всех жанрах, от приключенческих и фантастических до комедийных и романтических. Я предлагаю оригинальные истории, затягивающие сюжеты, много диалогов и красочные иллюстрации, все это в печатном варианте. Каждый комикс - это результат моего труда и любви к искусству, поэтому приобретая его, вы приобретаете не только книгу, но и индивидуальный подход к каждому произведению.

Я уверен, что вам понравятся мои комиксы, и вы найдете историю, которая увлечет вас. На сайте имеется удобный каталог, где вы можете ознакомиться с моими произведениями и выбрать желаемое. Не забудьте также посетить мой блог, где я делюсь своими мыслями, арт-работами и вдохновением.

Спасибо, что посетили мой сайт, и я надеюсь, что вы найдете здесь что-то особенное!</p>
</div>
<style>
    .content {
        position: absolute;
        width: 638px;
        height: 536px;

        font-family: 'Potta One';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 110%;
        /* or 18px */

        letter-spacing: 0.16em;
        text-transform: uppercase;

        color: #FFFFFF;
    }
</style>
{% endblock %}